/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span-12-of-12 {
	width: 100%;
}

.span-11-of-12 {
  	width: 91.66%;
}
.span-10-of-12 {
  	width: 83.33%;
}

.span-9-of-12 {
  	width: 75%;
}

.span-8-of-12 {
  	width: 66.66%;
}

.span-7-of-12 {
  	width: 58.33%;
}

.span-6-of-12 {
  	width: 50%;
}

.span-5-of-12 {
  	width: 41.66%;
}

.span-4-of-12 {
  	width: 33.33%;
}

.span-3-of-12 {
  	width: 25%;
}

.span-2-of-12 {
  	width: 16.66%;
}

.span-1-of-12 {
  	width: 8.333%;
}

/*  GO FULL WIDTH BELOW 750 PIXELS */
@media only screen and (max-width: 750px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span-1-of-12, .span-2-of-12, .span-3-of-12, .span-4-of-12, .span-5-of-12, .span-6-of-12, .span-7-of-12, .span-8-of-12, .span-9-of-12, .span-10-of-12, .span-11-of-12, .span-12-of-12 {
	width: 100%; 
	}
}